<html>
<%-include('partials/head.html');%>

	<body>
		<header>
			<%-include('partials/navegacion.html');%>
		</header>

		<div class="tabla">
			<h1 style="text-align: center;">CONTACTOS</h1>
			<table class="table table-light table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Domicilio</th>
						<th>Telefono</th>
					</tr>
				</thead>
				<% if (contactos) { %>
					<tbody>
						<% for(var i=0; i < contactos.length; i++ ) { %>
							<tr>
								<td>
									<%= contactos[i].idContactos %>
								</td>
								<td>
									<%= contactos[i].nombre %>
								</td>
								<td>
									<%= contactos[i].domicilio %>
								</td>
								<td>
									<%= contactos[i].telefono %>
								</td>
							</tr>
							<% } %>
					</tbody>
					<% } %>

			</table>
			<div style="text-align: right;">
				<form action="/contactos" method="post">
					<button class="btn btn-info" type="submit">Ver</button>
				</form>

				<form action="/contactos" method="get">
					<button class="btn btn-secondary" action="/contactos">Limpiar</button>
				</form>
			</div>
		</div>

		<br><br><br>

		<div>
			<h1 style="text-align: center;">MODIFICAR CONTACTO</h1>
			<div style="font-size:large" class="centrado">
				<div>
					<form action="/contactos/id" method="get">
						<label for="idContactos">Contacto ID:</label>
						<input type="text" id="idContactos" name="idContactos">
						<button class="btn btn-info" type="submit">Buscar</button>
					</form>
				</div>
				<% if ( contacto ) { %>
					<div>
						<form action="/contactos/id" method="post">
							<div class="divs"><input type="hidden" name="idContactos" id="idContactos"
									value="<%=contacto.idContactos%>">
								<label for="nombre">Nombre:</label>
								<input type="text" id="nombre" name="nombre" value="<%=contacto.nombre%>">
							</div>
							<div class="divs">
								<label for="domicilio">Domicilio:</label>
								<input type="text" id="domicilio" name="domicilio" value="<%=contacto.domicilio%>">
							</div>
							<div class="divs">
								<label for="telefono">Telefono:</label>
								<input type="text" id="telefono" name="telefono" value="<%=contacto.telefono%>">
							</div>
							<br>
							<button class="btn btn-success" type="submit">Guardar</button>
						</form>

						<form action="/contactos/id/borrar" method="post">
							<input type="hidden" name="idContactos" id="idContactos" value="<%=contacto.idContactos%>">
							<button class="btn btn-danger " type="submit">Eliminar</button>
						</form>
					</div>
					<% } %>
			</div>
		</div>
		</div>


		<div>
			<h1 style="text-align: center;">AGREGAR CONTACTO</h1>
			<div style="font-size:large" class="centrado">

				<form action="/contactos/nuevo" method="post">
					<div>
						<div class="divs">
							<label for="nombre">Nombre</label>
							<input type="text" name="nombre" id="nombre">
						</div>
						<div class="divs">
							<label for="domicilio">Domicilio</label>
							<input type="text" name="domicilio" id="domicilio">
						</div>
						<div class="divs">
							<label for="telefono">Telefono</label>
							<input type="text" name="telefono" id="telefono">
						</div>
					</div>
					<div class="divs">
						<button class="btn btn-success" type="submit">Guardar</button>
					</div>
				</form>
			</div>

			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	</body>

	<%-include('partials/footer.html');%>

</html>