<!DOCTYPE html>
<html lang="en">
<%-include('partials/head.html');%>

    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div id="seccion" class="container">
            <section class="index1">
                <div style="text-align: center;">
                    <h1>
                        TRABAJO FINAL DE NODE JS
                    </h1>
                    <h2>
                        JORGE ALEJANDRO SANDOVAL CRESPO TCI 8-2
                    </h2>
                    <h3>
                        ABRIL 4 DEL 2022
                    </h3>
                </div>
                <div class="index2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae ipsa doloribus ut
                        saepe, temporibus sint modi veniam. Officia commodi, mollitia aspernatur perferendis excepturi
                        qui doloremque laboriosam similique facere ratione.
                    </p> <br><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum, vero, dolorum, cumque nisi
                        eum delectus nemo officia non ipsam velit tempore atque dignissimos repudiandae harum labore nam
                        quaerat nulla?
                        Neque perferendis distinctio corporis assumenda harum dicta ratione minima voluptas error fugit,
                        hic numquam consequuntur corrupti voluptates. Magnam aliquid quis et non sequi. Perferendis illo
                        nam hic vel soluta voluptas.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam totam, asperiores ea delectus
                        velit molestiae corrupti? Hic porro sapiente officia, sit explicabo libero tenetur harum quidem
                        quasi sequi velit aliquid?
                        Amet harum adipisci voluptatibus. Eum ratione incidunt laboriosam dignissimos deserunt quas ab
                        amet? Laboriosam rerum doloribus pariatur officia! Sunt esse ab omnis nostrum voluptatum rerum
                        libero voluptas fuga consequuntur natus.
                        Facilis possimus minima repellat dolores enim quas facere officia cum. Rerum asperiores et
                        necessitatibus fuga itaque cupiditate excepturi iste cum provident. Repellat inventore cum
                        debitis corrupti quibusdam officia assumenda ut.
                        Tenetur delectus, in velit quos nisi porro ipsum sequi a dolorem quo aliquam aliquid. Nostrum
                        hic totam illum atque, ea ducimus commodi fuga, vero tempore sunt deserunt delectus ex? Enim?
                        Esse labore quae exercitationem voluptatem tempore, unde explicabo inventore nobis accusantium
                        quo. Tenetur sed aliquam ea fugiat reiciendis, tempore nihil ipsum earum a dolore nulla culpa,
                        quisquam quis quasi molestiae?</p>
                </div>
            </section>

        </div>

        <footer>


            <%-include('partials/footer.html');%>
        </footer>

    </body>

</html>